<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Contas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="clienteForm">
    <ion-list>
      <ion-item>
        <ion-label>Cliente</ion-label>
        <ion-select formControlName="idCliente" placeholder="Selecione o cliente" arial-label="Clientes">
          <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id" >{{cliente.nome}}</ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="clienteForm.controls['idCliente'].hasError('required')">
          O campo é obrigatório
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Instituição</ion-label>
        <ion-input formControlName="instituicao" placeholder="Nome da sua instituição"></ion-input>
        <ion-note slot="error" *ngIf="clienteForm.controls['instituicao'].hasError('required')">
          O campo é obrigatório
        </ion-note>
        <ion-note slot="error" *ngIf="clienteForm.controls['instituicao'].hasError('maxlength')">
          O campo deve ter no máximo {{clienteForm.controls['instituicao'].errors?.['maxlength'].requiredLength}} caracteres
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Agencia</ion-label>
        <ion-input formControlName="agencia" placeholder="Sua agencia com digito" ></ion-input>
        <ion-note slot="error" *ngIf="clienteForm.controls['agencia'].hasError('required')">
          O campo é obrigatório
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Conta</ion-label>
        <ion-input formControlName="conta" placeholder="Sua conta com digito" ></ion-input>
        <ion-note slot="error" *ngIf="clienteForm.controls['conta'].hasError('required')">
          O campo é obrigatório
        </ion-note>
        <ion-note slot="error" *ngIf="clienteForm.controls['conta'].hasError('invalidConta')">
          Informe o digito da conta com um hífen, nesse formato 00000-00
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Saldo</ion-label>
        <ion-input formControlName="saldo" placeholder="Seu saldo" type="number"></ion-input>
        <ion-note slot="error" *ngIf="clienteForm.controls['saldo'].hasError('required')">
          O campo é obrigatório
        </ion-note>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="conta?.id" (click)="deleteConta(conta.id)" [strong]="true" color="danger">Excluir</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true" [disabled]="clienteForm.invalid" color="primary">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>